@import "variables.less";

//---------------------
// Button
//---------------------
.btn {
  padding: 0.5rem 1rem;
}
.btn-gray {
  border: 1px @gray-100 solid;
  border-radius: 0.25rem;
  &:hover {
    background-color: darken(#ffffff, 5%);
  }
}
